$color-danger-light: #970000;
$color-danger: #840000;
$color-danger-dark: #790000;

$color-warning-light: #a37429;
$color-warning: #986c26;
$color-warning-dark: #967239;

$color-success-light: #29a354;
$color-success: #26984e;
$color-success-dark: #389659;
