.color-first {
    color: $color-first;
}

.color-second {
    color: $color-second;
}

.color-third {
    color: $color-third;
}

.color-fourth {
    color: $color-fourth;
}

.color-fifth {
    color: $color-fifth;
}

.color-extra-light {
    color: $color-extra-light;
}

.color-light {
    color: $color-light;
}

.color-dark {
    color: $color-dark;
}

.color-extra-dark {
    color: $color-extra-dark;
}

.color-white {
    color: $color-white;
}

.color-black {
    color: $color-black;
}

.color-danger {
    color: $color-danger;
}

.color-warning {
    color: $color-warning;
}

.color-success {
    color: $color-success;
}
