.extra-small {
    font-size: 0.5rem;
}

.small {
    font-size: 0.625rem;
}

.medium {
    font-size: 0.75rem;
}

.classic {
    font-size: 0.875rem;
}

.large {
    font-size: 1.125rem;
}

.extra-large {
    font-size: 1.25rem;
}
