.line-h-small {
    line-height: 0.625rem;
}

.line-h-medium {
    line-height: 0.75rem;
}

.line-h-classic {
    line-height: 0.875rem;
}

.line-h-large {
    line-height: 1.125rem;
}

.line-h-extra-large {
    line-height: 1.25rem;
}
