$btn-font-size: 1rem;
$btn-line-height: 1rem;
$btn-padding-top-bottom: 0.625rem;
$btn-padding-left-right: 0.9375rem;

$btn-width-lg: 15.63rem;
$btn-width-md: 12.5rem;
$btn-width-sm: 9.375rem;
$btn-width-xs: 6.25rem;

$btn-lg-font-size: 1.125rem;
$btn-lg-line-height: 1.125rem;
$btn-lg-padding-top-bottom: 0.9375rem;
$btn-lg-padding-left-right: 1.563rem;
$btn-lg-icon-left-padding-left: 0.7815rem;
$btn-lg-icon-left-padding-right: 1.563rem;
$btn-lg-icon-right-padding-left: 1.563rem;
$btn-lg-icon-right-padding-right: 0.7815rem;
$btn-lg-icon-padding-top: 0.9375rem;
$btn-lg-icon-padding-bottom: 0.9375rem;
$btn-lg-icon-margin-left: 0.7815rem;
$btn-lg-icon-margin-right: 0.7815rem;
$btn-lg-circle-padding: 0.9375rem;
$btn-lg-square-padding: 0.9375rem;

$btn-md-font-size: 1rem;
$btn-md-line-height: 1rem;
$btn-md-padding-top-bottom: 0.625rem;
$btn-md-padding-left-right: 0.9375rem;
$btn-md-icon-left-padding-left: 0.46875rem;
$btn-md-icon-left-padding-right: 0.9375rem;
$btn-md-icon-right-padding-left: 0.9375rem;
$btn-md-icon-right-padding-right: 0.46875rem;
$btn-md-icon-padding-top: 0.625rem;
$btn-md-icon-padding-bottom: 0.625rem;
$btn-md-icon-margin-left: 0.46875rem;
$btn-md-icon-margin-right: 0.46875rem;
$btn-md-circle-padding: 0.625rem;
$btn-md-square-padding: 0.625rem;

$btn-sm-font-size: 0.75rem;
$btn-sm-line-height: 0.75rem;
$btn-sm-padding-top-bottom: 0.375rem;
$btn-sm-padding-left-right: 0.6875rem;
$btn-sm-icon-left-padding-left: 0.34375rem;
$btn-sm-icon-left-padding-right: 0.6875rem;
$btn-sm-icon-right-padding-left: 0.6875rem;
$btn-sm-icon-right-padding-right: 0.34375rem;
$btn-sm-icon-padding-top: 0.375rem;
$btn-sm-icon-padding-bottom: 0.375rem;
$btn-sm-icon-margin-left: 0.34375rem;
$btn-sm-icon-margin-right: 0.34375rem;
$btn-sm-circle-padding: 0.375rem;
$btn-sm-square-padding: 0.375rem;

$btn-xs-font-size: 0.75rem;
$btn-xs-line-height: 0.75rem;
$btn-xs-padding-top-bottom: 0.3125rem;
$btn-xs-padding-left-right: 0.625rem;
$btn-xs-icon-left-padding-left: 0.3125rem;
$btn-xs-icon-left-padding-right: 0.625rem;
$btn-xs-icon-right-padding-left: 0.625rem;
$btn-xs-icon-right-padding-right: 0.3125rem;
$btn-xs-icon-padding-top: 0.3125rem;
$btn-xs-icon-padding-bottom: 0.3125rem;
$btn-xs-icon-margin-left: 0.3125rem;
$btn-xs-icon-margin-right: 0.3125rem;
$btn-xs-circle-padding: 0.3125rem;
$btn-xs-square-padding: 0.3125rem;
