@import 'btn-square-settings';
@import "../../../theme/default/modules/buttons";

.btn-square {
	box-sizing: border-box;
	padding: $squareBtnPadding;
	background: $squareBtnBackground;
	color: $squareBtnColor;
	transition: all 0.2s ease-out 0.2s;
	text-decoration: none;
	&:hover {
		background: $squareBtnHoverBackground;
		color: $squareBtnHoverColor;
	}
	span {
		display: block;
	}
}