$badge-padding: 0.2rem;
$badge-font-size: 0.75rem;
$badge-line-height: 0.75rem;

$badge-xs-padding: 0.0625rem;
$badge-xs-font-size: 0.55rem;
$badge-xs-line-height: 0.55rem;

$badge-sm-padding: 0.125rem;
$badge-sm-font-size: 0.65rem;
$badge-sm-line-height: 0.65rem;

$badge-lg-padding: 0.3rem;
$badge-lg-font-size: 0.85rem;
$badge-lg-line-height: 0.85rem;

$badge-size-inherit-padding: .4em .2em;
$badge-size-inherit-font-size: .75em;
$badge-size-inherit-line-height: .75em;

$badge-bordered-border-width: 0.0625rem;
$badge-bordered-fat-border-width: 0.125rem;
