.input {
    &.input-width-lg {
        width: 15.63rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &.input-width-md {
        width: 12.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &.input-width-sm {
        width: 9.375rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &.input-width-xs {
        width: 6.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
