.input {
    &.border-bottom {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        border-bottom-width: 0.0625rem;
        &.input-fat {
            border-bottom-width: 0.125rem;
        }
    }
}
