$code-padding-top-bottom: 0.125rem;
$code-padding-left-right: 0.25rem;

$code-font-size: 0.875rem;
$code-border-radius: 0.25rem;

$code-block-padding: 0.625rem;
$code-block-font-size: 0.875rem;
$code-block-line-height: 1.125rem;
$code-block-border-width: 0.0625rem;
$code-block-border-radius: 0.25rem;
